<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- added from here-->
  <connectionStrings>
    <add name="SampleDB" connectionString="Server=.\SQLExpress;Database=Sample2;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    
    <!--<add name="SampleDB" connectionString="Server=.\SQLExpress;  Database=Sample2;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>-->
            
  <!-- AttachDbFilename=C:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\Data\Sample2.mdf; -->
  <!--<add name="SampleDB" connectionString="Server=QUAD-PC\SQLEXPRESS;Database=Sample2;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>-->
  
  
  </connectionStrings>
   <!-- to here-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>