<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <!-- added from here-->
  <connectionStrings>
    <add name="SqlExpress2005" connectionString="Server=.\SQLExpress;Database=Sample2;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    <!-- full server name is QUAD-PC\SQLExpress-->
    <!-- providerName="System.Data.SqlClient" is optional - tried without and it works-->
  
   <add name="SqlExpress2014" connectionString="Server=.\SQLExpress2014;Database=Sample2;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
   <!-- to here-->
      
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>